{% extends 'layout.html' %}
{% load static %}

{% block title %}
    CoNote
{% endblock %}

{% block content %}
<p>Главная</p>
    <div class="footer">
      <div class="content">

        <div class="links">
          <h4>Другие страницы</h4>
          <p><a href="/news">Новости</a></p>
        </div>
        
        <div class="details">
          <h4 class="mail">Email</h4>
          <p><a href="">feedback@conote.ru</a></p>
          <p><a href="">administration@conote.ru</a></p>
          <p><a href="">auth@conote.ru</a></p>
        </div>
        
        <div class="social-media">
          <h4>Разработчики</h4>
          <p><a href="https://github.com/Varsto04"><i class="fab fa-github"></i> Varsto04</a></p>
          <p><a href="https://github.com/cantevenexist"><i class="fab fa-github"></i> cantevenexist</a></p>
        </div>
      </div>
      
      <footer>
        <hr />
        © 2024 CoNote.
      </footer>
    </div>
{% endblock %}