{% extends 'main_page/layout.html' %}
{% load static %}

{% block title %}
    NoteCloud [Новости]
{% endblock %}

{% block content %}
    {% for news_part in news %}
        <div class="card_news">
            <h2 class="card_news_title">{{ news_part.title }}</h2>
            <h3 class="card_news_date">{{ news_part.date }}</h3>
            <div class="card_news_arrow">
                <a class="card_news_arrow" href="/news/{{ news_part.id }}"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block pagination %}
    <div class="pagination">
        {% for page_number in news.paginator.get_elided_page_range %}
            {% if page_number == news.paginator.ELLIPSIS %}
                {{page_number}}
            {% else %}
                <a href="?page={{ page_number }}" class="{% if page_number == news.number %}current{% endif %}">
                    {{page_number}}
                </a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}