{% extends 'main_page/layout.html' %}
{% load static %}

{% block title %}
    NoteCloud [Новости]
{% endblock %}

{% block content %}
    <div class="card_content">
        <h2 class="card_content_title">{{ news.title }}</h2>
        <h4 class="card_content_date">{{ news.date }}</h4>
        <h3 class="card_content_content">{{ news.content|safe }}</h3>
    </div>
    <a href="/news">
        <div class="back_button_field">
            <button class="back_button"><i class="fa-solid fa-arrow-left"></i></button>
        </div>
    </a>
{% endblock %}