{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {{ news.title }}
{% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block content %}
    <p>Новости</p>
    <div style="display:grid;">
        {{ news.title }} - {{ news.author.username }} - {{ news.updated_at|date:"d.m.Y, H:i" }}
        {% if news.image %}
            <img src="{{ news.image.url }}" alt="{{ news.title }}" style="max-width: 300px;">
        {% endif %}
        {{ news.content }}
        <a href="{% url 'news_edit' news.slug %}">Изменить</a>
        <a href="{% url 'news_delete' news.slug %}">Удалить</a>
    </div>

    <p>Комментарии</p>
    <form id="commentForm" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить комментарий</button>
    </form>
    
    <div id="commentsList">
        {% for comment in comments %}
            <li id="comment-{{ comment.id }}">
                {{ comment.content }} - {{ comment.author.username }} - {{ comment.created_at|date:"d.m.Y, H:i" }}
                <button class="deleteComment" data-id="{{ comment.id }}">Удалить</button>
            </li>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'news/js/detail.js' %}"></script>
{% endblock %}
