{% extends 'layout.html' %}
{% load static %}

{% block title %}
{{ news.title }}
{% endblock %}

{% block content %}
    <p>Новости</p>
    <div style="display:grid;">
        {{ news.title }}
        {% if news.image %}
            <img src="{{ news.image.url }}" alt="{{ news.title }}" style="max-width: 300px;">
        {% endif %}
        {{ news.content }}
        <a href="{% url 'news_edit' news.slug %}">Изменить</a>
        <a href="{% url 'news_delete' news.slug %}">Удалить</a>
    </div>
{% endblock %}