{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Блог NoteCloud
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<p>Новости</p>
<div class="news_block">
  {% if user.is_authenticated %}
    <a href="{% url 'news_create' %}">
      <button class="add_post"><p>Добавить новость</p></button>
    </a>
  {% endif %}

  {% for item in news %}
    <a href="{% url 'news_detail' item.slug %}" class="news_post_link">
      <div class="news_post">
        <div class="title">
          <strong>{{ item.title }}</strong>
          <p class="author">{{ item.author.username }}</p>
          <p class="date">{{ item.updated_at|date:"d.m.Y, H:i" }}</p>
        </div>
        
        {% if item.image %}
        <div class="image_container">
              <img class="image" src="{{ item.image.url }}" alt="{{ item.title }}" draggable="false">
        </div>
        {% endif %}

        <div class="preview_content">
          {{ item.preview_content }}
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}