{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Удалить новость
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="news_block_detail">
        <div class="news_action_buttons_container no_select">
            <button type="submit" class='news_action_button' style="background-color: crimson;">Удалить</button>
            <div class="separator"></div>
            <a href="{% url 'news_list' %}" class='news_action_button'>Назад</a>
        </div>
        <div class="news_post_link news_post">
            <p>Вы уверены, что хотите удалить "{{ object.title }}"?</p>
            <p>Данное дейстиве должно быть согласовано с администрацией.</p>
        </div>
    </div>
</form>
{% endblock %}
