{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@1,700&family=Marmelad&family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main_page/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/404.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="layout_header">
        <div class="logotype">
            <a href="/"><img src="{% static 'main_page/img/logo_web.png' %}" alt="logotype" border="0px"></a>
        </div>
        <div class="button_area">
            {% if user.is_authenticated %}
                <button class="button_login" onclick="toggleDiv()">{{ user.username }}</button>
            {% else %}
                <a href="/accounts/login/">
                    <button class="button_login">Войти</button>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="user_settings_panel" id="user_settings_panel">
        <ul class="user_settings_panel_ul">
            <li><a href="/accounts/profile">Профиль</a></li>
            <li><a href="">Уведомления</a></li>
            <li><a href="/accounts/settings">Настройки</a></li>
            <li><a href="/accounts/logout">Выход</a></li>
        </ul>
    </div>
    <div class="layout_central_block">
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src="{% static 'js/layout.js' %}"></script>
{% block javascript %}{% endblock %}
</html>