/.env.dev
/.env.db
/.env.cache_db
/.env.email
/.env.providers
/.env.s3
/.env
/.env.amqp
*.pyc
__pycache__/
/.venv
media
migrations
NoteCloud_Config/subscribers.db
NoteCloud_Config/telegram_bot.log
developments
NoteCloud_Config/collectstatic
NoteCloud_Config/celerybeat-schedule