{% load static %}

<title>CoNote</title>


{% block head %}
{% endblock %}

{% block content %}
    <div class="footer">
      <div class="content">

        <div class="links">
          <h4>Другие страницы</h4>
          <p><a href="{% url 'news_list' %}" hx-get="{% url 'news_list' %}" hx-target="#page-content" hx-push-url="true">Новости</a></p>
          <p><a href="/">Roadmap</a></p>
          <p><a href="/">О нас</a></p>
        </div>
        
        <div class="details">
          <h4 class="mail">Email</h4>
          <p><a href="">feedback@conote.ru</a></p>
          <p><a href="">administration@conote.ru</a></p>
          <p><a href="">auth@conote.ru</a></p>
        </div>
        
        <div class="social-media">
          <h4>Социальные сети</h4>
          <p><a href="https://github.com/Varsto04"><i class="fab fa-github"></i> Varsto04</a></p>
          <p><a href="https://github.com/cantevenexist"><i class="fab fa-github"></i> cantevenexist</a></p>
        </div>
      </div>
      
      <footer>
        <hr />
        © 2025 CoNote.
      </footer>
    </div>
{% endblock %}