{% load static %}

<title>{% if object %}Редактирование{% else %}Добавление{% endif %} новости</title>

{% block head %}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="news_block_detail">
            <div class="news_action_buttons_container no_select">
                <button class='news_action_button'type="submit">Сохранить</button>
                <div class="separator"></div>
                <div tabindex="0" class='news_action_button' onclick="goBack()">Назад</div>
            </div>
            <div class="news_post_link news_post">
                <div class="title">{{ form.title }}</div>
                <div class="image_container">{{ form.image }}</div>
                <div class="preview_content">{{ form.preview_content }}</div>
                <div class="content">{{ form.content }}</div>
            </div>
        </div>
    </form>
{% endblock %}
