.profile-page {display: flex;flex-direction: column; max-width: 540px; margin: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;}
    .profile-container {width: 100%; padding: 20px; border-bottom: 1px solid #e0e0e0;}
        .profile-container-avatar-info {display: flex;flex-direction: row;}
            .profile-info-container {margin-left: 10px; background-color: transparent; width: calc(100% - 128px - 10px);}
                .profile-username-about-container {transition: max-height 0.5s ease-in-out;max-height: calc(98px - 31px); margin-top: 5px; margin-bottom: 5px; width: 100%; background-color: transparent; overflow: hidden;}
                .profile-username-about-container.overflowing{
                    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
                    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);}
                .profile-about-fullsize-button {display: none; background-color:transparent;stroke: gray; color: gray;}
                .profile-about-fullsize-button.show {display: flex; flex-direction: row;}
                @media (hover:hover) {.profile-about-fullsize-button:hover {stroke: black; color: black;}}
                .hide-show-profile-about-icon {transform: rotate(0deg);transition: transform 0.5s ease-in-out;}
                .hide-show-profile-about-icon.rotate {transform: rotate(-180deg);}
                
                .profile-username-copy-btn {stroke: gray; scale:1; transition: color 0.5s ease, stroke 0.5s ease, scale 0.5s ease;}
                .profile-social-button {
                    background:cornflowerblue;
                    color: white;
                    border: none;
                    transition: background 0.5s ease;}
                    

                .profile-social-followers-and-following {margin-top: 10px; display: flex; flex-direction: column; gap: 5px;}
                    .profile-social-followers {background-color:transparent;stroke: gray; color: gray; transition: color 0.5s ease, stroke 0.5s ease, transform 0.5s ease;}
                    .profile-social-following {background-color:transparent;stroke: gray; color: gray; transition: color 0.5s ease, stroke 0.5s ease, transform 0.5s ease;}
                    .profile-social-followers-and-following .hide-red-icon {stroke: gray ;transition: stroke 0.5s ease;}

                /* BASED CLEAR STYLE */
                .profile-page p {margin: 0;}
                .profile-avatar-container {transition: scale 0.5s ease;}
                .profile-avatar-container img {width: 100%;height: 100%;}
                .profile-avatar-container svg {width: 100%;height: 100%;}

                @media (hover:hover) {
                    .profile-avatar-container:hover {scale: 1.05;}
                    .profile-social-button:hover {background:rgb(80, 120, 180);}
                    .profile-username-copy-btn:hover {stroke: black; scale: 1.1;}
                    .profile-social-followers:hover{color:black; stroke: black;}
                    .profile-social-following:hover {color:black; stroke: black;}

                    .profile-link-container:hover .profile-social-link-item {color:cornflowerblue;text-decoration: underline;}
                    .profile-link-container:hover .icon .fa-vk{color: rgb(0, 119, 255);}
                    .profile-link-container:hover .icon .fa-telegram{color: rgb(0, 136, 204);}
                    .profile-link-container:hover .icon .fa-youtube{color: rgb(242, 0, 38);}
                }

                ul {padding-left: 0;list-style-type: none; margin: 0;}
                .profile-link-container .profile-social-link-item {padding: 0; border: 0; color:black; cursor: pointer; text-overflow: ellipsis; overflow: hidden;}
                
        /* from 0 to 425 portrait */
        @media (max-width:425px) {
        .profile-container-avatar-info {display: block}
            .profile-info-container {margin-left: 0;margin-top: calc(10px); background-color: transparent; width:100%;}
                .profile-avatar-container {max-width: 100% !important; aspect-ratio: 1;}}

                    .profile-avatar-container img {border-radius: 5px; transition: border-radius 0.5s ease;}
                    .profile-avatar-container svg {border-radius: 5px; background-color: #dedede; transition: border-radius 0.5s ease;}
                    @media (hover:hover) {
                        .profile-avatar-container:hover img {border-radius: 4.5px;}
                        .profile-avatar-container:hover svg {border-radius: 4.5px;}
                    }
                .profile-username-about {font-size: 14px;
                    text-indent: 0; /* Убирает отступ на первой строке */
                    white-space: pre-wrap; /* Сохраняет пробелы и переносы строк */
                    word-wrap: break-word; /* Переносит длинные слова */
                    overflow-wrap: break-word; /* Переносит слова на новой строке */}
                
        /* from 668 to ... portrait */
        @media (min-width:749.9px) {
        .profile-container-avatar-info {display: block}    
            .profile-info-container {margin-left: 0;margin-top: 10px; background-color: transparent; width:100%;}
        }
            .profile-avatar-container {flex: 0 0 128px;max-width: 128px; aspect-ratio: 1;}
        .profile-social-container {margin-top: 10px; background-color: transparent;}
            .profile-social-button {width: 100%; border-radius: 5px;}
        
        /* from 426 to ... portrait*/
        @media (min-width:425.9px){
            .profile-social-button {width: 128px; border-radius: 5px;}
        }
            .profile-social-button-show-followers-and-following {display: flex; flex-direction: row;}
            .profile-social-followers-and-following {font-size: 14px; width: 100%;}
            .profile-social-followers-and-following .icon {height: 21px;width: 21px;}
            .profile-social-followers-and-following .icon svg {padding: 2px;padding-top: 1px;height: 100%;width: 100%;}
        .profile-links-container {margin-top: 10px; background-color: transparent;}
            .profile-link-container {display: flex; flex-direction: row;}
            .profile-link-container {font-size: 14px; width: 100%;}
            .profile-link-container .icon {height: 21px;width: 21px;}
            .profile-link-container .icon svg {padding: 2px;padding-top: 1px;height: 100%;width: 100%;}
    .side-container {width: 100%; padding: 20px;}



/* SQUARE minimum for horizontal */
@media (min-width:749.9px) {
.profile-page {display: flex;flex-direction: row; max-width: 1080px; min-width: 592px; margin: auto;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 30px;}
    .profile-container {width: 296px; padding: 20px;border-bottom: none ;border-right: 1px solid #e0e0e0;}
        .profile-avatar-container {max-width: 256px; width: 256px; aspect-ratio: 1; margin: auto;}
            .profile-avatar-container img {border-radius: 10px; transition: border-radius 0.5s ease;}
            .profile-avatar-container svg {border-radius: 10px; background-color: #dedede; transition: border-radius 0.5s ease;}
            @media (hover:hover) {
                .profile-avatar-container:hover img {border-radius: 9px;}
                .profile-avatar-container:hover svg {border-radius: 9px;}
            }
        .profile-info-container {margin-top: 20px; background-color: transparent;}
            .profile-username-about {font-size: 14px;
                text-indent: 0; /* Убирает отступ на первой строке */
                white-space: pre-wrap; /* Сохраняет пробелы и переносы строк */
                word-wrap: break-word; /* Переносит длинные слова */
                overflow-wrap: break-word; /* Переносит слова на новой строке */}
        .profile-social-container {margin-top: 20px; background-color: transparent;}
            .profile-social-button {width: 100%; border-radius: 10px;}
            .profile-social-button-show-followers-and-following {display: flex; flex-direction: row;}
            .profile-social-followers-and-following {font-size: 14px; width: 100%;}
            .profile-social-followers-and-following .icon {height: 21px;width: 21px;}
            .profile-social-followers-and-following .icon svg {padding: 2px;padding-top: 1px;height: 100%;width: 100%;}
        .profile-links-container {margin-top: 20px; background-color: transparent;}
            .profile-link-container {display: flex; flex-direction: row;}
            .profile-link-container {font-size: 14px; width: 100%;}
            .profile-link-container .icon {height: 21px;width: 21px;}
            .profile-link-container .icon svg {padding: 2px;padding-top: 1px;height: 100%;width: 100%;}
    .side-container {width: 100%; padding: 20px;min-width: 296px;}
}

.profile-username-container {display: flex; flex-direction: row;height: 30px; width: 100%;}
.profile-username {font-size: 20px; max-width: calc(100% - 30px); background-color: transparent; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}


@media (orientation: portrait) {#panel-subscribers {padding-left: 5%;padding-right: 5%;}#panel-subscriptions {padding-left: 5%;padding-right: 5%;}}
@media (orientation: landscape) {#panel-subscribers {padding-left: 10%;padding-right: 10%;}#panel-subscriptions {padding-left: 5%;padding-right: 5%;}}

#panel-subscribers {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

#panel-subscribers.show {
    display: block;
}

.close_btn_subscribers {
    position: fixed;
    width: 120%;
    height: 100%;
    transform: translateX(-20%);
}

#panel-subscriptions {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

#panel-subscriptions.show {
    display: block;
}

.close_btn_subscriptions {
    position: fixed;
    width: 120%;
    height: 100%;
    transform: translateX(-20%);
}

.panel_subs-box {
    background-color: white;
    position: relative;
    max-width: 500px;
    height: 80%;
    top:10%;
    padding: 20px;
    border-radius: 30px;
    margin: auto;
}

.sub-text {font-size: 18px; margin-bottom: 10px; display: flex; flex-direction: row; justify-content: space-between; gap: 20px;}
.sub-text .choice_subs_btn_container {width: calc(100% - 59px); display: flex; flex-direction: row; justify-content: space-between; gap: 20px;}

.sub-text .selected {background-color: cornflowerblue;color:white; border-radius: 10px; padding: 5px 15px 5px 15px; width: 100%; cursor: pointer; justify-content: space-between; flex-direction: row; display: flex; }
.sub-text .not-selected {background-color:white;color: gray; border: 1px solid #e0e0e0; border-radius: 10px; padding: 5px 15px 5px 15px; width: 100%; cursor: pointer; justify-content: space-between; flex-direction: row; display: flex; transition: border-color 0.5s ease, color 0.5s ease;}

/* VERTICAL ACTION SUBS BTNS*/
@media (max-width: 556px) {
    .sub-text .choice_subs_btn_container {flex-direction: column; gap: 10px;}
}
.sub-text .close_btn_subs {border: 1px solid #e0e0e0; border-radius: 10px; background-color: white; width: 39px; height: 39px; cursor: pointer; transition: border 0.5s ease;}
.sub-text .close_btn_subs svg{width: 100%; height: 100%; stroke: gray; transition: stroke 0.5s ease;}

@media (hover:hover) {
.sub-text .not-selected:hover {border-color: cornflowerblue; color: cornflowerblue;}
.sub-text .close_btn_subs:hover {border-color: crimson;}
.sub-text .close_btn_subs:hover svg{stroke: crimson;}
.search-sub-container input:hover {border-color: cornflowerblue;}

/* BLOCK SEARCHBOX COLOR HOVER */
.search-sub-container input:hover::-webkit-input-placeholder {color: cornflowerblue;}
.search-sub-container input:hover::-moz-placeholder {color: cornflowerblue;}
.search-sub-container input:hover:-ms-input-placeholder {color: cornflowerblue;}
.search-sub-container input:hover::placeholder {color: cornflowerblue;}
/* END BLOCK */
}

/* BLOCK SEARCHBOX COLOR */
.search-sub-container input{width: 100%; height: 40px; border-radius: 10px; border: 1px solid #e0e0e0; padding-left: 15px; font-size: 18px;transition: border-color 0.5s ease;}
.search-sub-container input:focus {outline: 0; border-color: cornflowerblue;}

.search-sub-container input:focus::-webkit-input-placeholder {color: cornflowerblue;}
.search-sub-container input:focus::-moz-placeholder {color: cornflowerblue;}
.search-sub-container input:focus:-ms-input-placeholder {color: cornflowerblue;}
.search-sub-container input:focus::placeholder {color: cornflowerblue;}

.search-sub-container input::-webkit-input-placeholder {color: gray; transition: color 0.5s ease;}
.search-sub-container input::-moz-placeholder {color: gray; transition: color 0.5s ease;}
.search-sub-container input:-ms-input-placeholder {color: gray; transition: color 0.5s ease;}
.search-sub-container input::placeholder {color: gray; transition: color 0.5s ease;}
/* END BLOCK */

.panel_subs-separator {background: #e0e0e0; height: 1px;content: ''; margin-top: 20px; margin-bottom: 10px;}

.subs_container {height: calc(100% - 110px) ;overflow-y: scroll;
mask-image: linear-gradient(to bottom,
    transparent 0%,
    black 2%,
    black 98%,
    transparent 100%);
-webkit-mask-image: linear-gradient(to bottom,
    transparent 0%,
    black 2%,
    black 98%,
    transparent 100%);}

@media (max-width: 556px) {.subs_container {height: calc(100% - 160px);}}
.subs_container::-webkit-scrollbar {
    position: absolute;
    top: 20%;
    width: 8px; /* Ширина ползунка */
    height: 8px; /* Высота ползунка */
}

.subs_container::-webkit-scrollbar-track {
    background: transparent; /* Цвет фона ползунка */
}

.subs_container::-webkit-scrollbar-thumb {
    background: cornflowerblue; /* Цвет самого ползунка */
    border-radius: 4px; /* Скругленные углы ползунка */
}
@media (hover:hover) {
.subs_container::-webkit-scrollbar-thumb:hover {
    background: #6B8BC4; /* Цвет ползунка при наведении */
}}

.subs_container::-webkit-scrollbar-thumb:active {
    background: #5B7DAC; /* Цвет ползунка при активном взаимодействии */
}

.sub_container {background-color: aqua; display: flex; flex-direction: row; padding: 10px; margin-bottom: 10px; width: calc(100% - 8px);}
.sub_avatar_container {background-color: gainsboro; width: 40px; height: 40px;}
.sub_avatar_container img {width: 40px;height: 40px;}
.sub_avatar_container svg {width: 40px;height: 40px;}
.sub_username {background-color:cadetblue ;margin-left: 10px;width: calc(100% - 50px);justify-self: center;font-size: 20px; overflow: hidden; text-overflow: ellipsis;}