{% extends 'profile/layout_settings.html' %}
{% load static %}

{% block head2 %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
    <link rel="stylesheet" href="{% static 'user_profiles/css/edit_profile.css' %}">
{% endblock %}

{% block setting %}
    <h1>Изменить профиль</h1>
    <form id="profile-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" id="id_username" name="username" placeholder="Введите новый никнейм" value="{{ user.username }}">
        <input type="hidden" id="current-username" value="{{ user.username }}">
        <div id="image-container">
            {% if user_profile.avatar %}
            <div>
                <img id="avatar-preview" src="{{ user_profile.avatar.url }}" alt="Avatar" width="256" height="256">
            </div>
            {% else %}
            <div class="default_avatar" style="background-color: #dedede; width: 256px; height: 256px;">
                <i class="fa-solid fa-user" style="color: #6f7276; font-size: 150px;"></i>
            </div>
            {% endif %}
        </div>
        <button type="button" id="cancel-crop-btn" style="display: none;">Отмена</button>
        {% if user_profile.avatar %}
            <button type="submit" name="delete_avatar" id="delete-avatar-btn" formmethod="POST">Удалить фотографию</button>
        {% endif %}
        <div>
            <label for="avatar">Выберите изображение:</label>
            <input type="file" id="id_avatar" name="avatar" accept=".bmp,.jpeg,.png,.jpg">
        </div>
        <div>
            <label for="id_about_me">О себе:</label>
            <textarea id="id_about_me" name="about_me" placeholder="Здесь еще пусто...">{{ user_profile.about_me|default:"" }}</textarea>
        </div>
        <div id="links-section">
            <label>Ссылки на сервисы:</label>
            <div id="links-container">
                {% for i in "123" %}
                    {% with link=user_profile.links|default_if_none:""|slice:i|last %}
                        <div class="link-input" style="display: {% if link %}block{% else %}none{% endif %};">
                            <input type="text" name="links" placeholder="Введите ссылку на сервис" value="{{ link }}">
                            <span class="service-icon">
                                {% if link and 'google.com' in link %}
                                    <i class="fa-brands fa-google"></i>
                                {% elif link and 'vk.com' in link %}
                                    <i class="fa-brands fa-vk"></i>
                                {% elif link and 't.me' in link %}
                                    <i class="fa-brands fa-telegram"></i>
                                {% elif link and 'github.com' in link %}
                                    <i class="fa-brands fa-github"></i>
                                {% endif %}
                            </span>
                        </div>
                    {% endwith %}
                {% endfor %}
            </div>
            <button type="button" id="add-link-btn">+</button>
        </div>
        <input type="hidden" id="crop-data" name="crop_data">
        <button type="submit">Сохранить изменения</button>
    </form>
    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <p id="confirmation-message"></p>
            <button id="confirm-button">Подтвердить</button>
            <button id="cancel-button">Отмена</button>
        </div>
    </div>
{% endblock %}

{% block javascript2 %}
    <script src="{% static 'user_profiles/js/edit_profile.js' %}"></script>
{% endblock %}