{% extends 'layout.html' %}
{% load static %}

{% block title %}
    NoteCloud [Настройки профиля]
{% endblock %}

{% block head %}
    {% block head2 %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'user_profiles/css/layout_settings.css' %}">
{% endblock %}

{% block content %}
    <div class="account_settings_panel" id="account_settings_panel">
        <ul class="account_settings_panel_ul">
            <a href="/account/settings/edit_profile"><li class="settings-item">Данные профиля</li></a>
            <a href="/account/settings/password/change"><li class="settings-item">Пароль и аутентификация</li></a>
            <a href="/account/settings/email"><li class="settings-item">Emails</li></a>
            <a href="/account/settings/notifications"><li class="settings-item">Настройка уведомлений</li></a>
            <a href="/account/settings/privacy"><li class="settings-item">Настройки приватности</li></a>
            <a href="/account/settings/"><li class="settings-item">Удалить аккаунт</li></a>
        </ul>
    </div>
    <div class="detailed_settings_layout">
        {% block setting %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'user_profiles/js/layout_settings.js' %}"></script>
    {% block javascript2 %}
    {% endblock %}
{% endblock %}
