{% extends 'profile/layout_settings.html' %}
{% load static %}

{% block setting %}
    <h1>Изменить настройки уведомлений</h1>
    <form method="POST" style="display: flex;flex-direction: column;">
        {% csrf_token %}
        <label class="switch1">
            <p>Отключить уведомления с новостями</p>
            <input type="checkbox" name="disabling_news_notifications" {% if disabling_news_notifications %}checked{% endif %}>
            <span class="slider"></span>
        </label>

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}