{% extends 'profile/layout_settings.html' %}
{% load static %}

{% block setting %}
    <h1>Изменить настройки приватности</h1>
    <form method="POST" style="display: flex;flex-direction: column;">
        {% csrf_token %}
        <label class="switch">
            <p>Скрыть моих подписчиков</p>
            <input type="checkbox" name="disable_subscribers_view" {% if disable_subscribers_view %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <label class="switch2">
            <p>Скрыть мои подписки</p>
            <input type="checkbox" name="disable_subscriptions_view" {% if disable_subscriptions_view %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <label class="switcp">
            <p>Скрыть профиль для неавториованных пользователей</p>
            <input type="checkbox" name="disable_profile_view" {% if disable_profile_view %}checked{% endif %}>
            <span class="slider"></span>
        </label>

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}