{% extends 'profile/layout_settings.html' %}
{% load static %}

{% block setting %}
    <h1>Изменить настройки уведомлений</h1>
    <form method="POST">
        {% csrf_token %}
        <label class="switch">
            <h3>Отключить уведомления</h3>
            <input type="checkbox" name="disable_notifications" {% if disable_notifications %}checked{% endif %}>
            <span class="slider"></span>
        </label>
        <label class="switch2">
            <h3>Отключить сообщения с новостями NoteCloud</h3>
            <input type="checkbox" name="disabling_news_messages" {% if disabling_news_messages %}checked{% endif %}>
            <span class="slider"></span>
        </label>

        <button type="submit">Сохранить изменения</button>
    </form>
{% endblock %}