@media (orientation: portrait) {
    .footer .content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media (orientation: landscape) {
    .footer .content {
        display: flex;
        justify-content: space-evenly;
    }
}

.layout_central_block .footer {
    margin-top: 100px;
    width: 100%;
    position: relative;
    float: left;
}

.footer {
    background-color: white;
    color: black;
}

.footer .content p {
    margin-bottom: 1.3rem;
    font-family: 'Marmelad', sans-serif;
}

.footer .content a {
    text-decoration: none;
    color: black;
}

.footer .content a:hover {
    color: #74C4F2;
}

.footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}

footer {
    text-align: center;
}

footer hr {
    margin: 2rem 0;
}