* {
}

html, body {
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background: white;
}

.layout_header {
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 60px;
}

.layout_central_block {
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.layout_header .logotype {
    float: left;
    margin-left: 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    height: 100%;
}

.logotype img {
    height: 90%;
}

.layout_header .button_area {
    position: absolute;
    right: 0;
    margin-right: 2%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
}

.button_area .button_area_edit {
    right: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button_area .button_area_login {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.button_edit {
    font-family: 'Marmelad', sans-serif;
    font-size: 40px;
    color: #000000;
    transition: all .6s ease;
}

.button_edit:hover, .button_edit a:hover {
    color: #C59DD4;
    text-decoration: none;
}

.button_login {
    font-family: 'Marmelad', sans-serif;
    font-size: 40px;
    color: #000000;
    transition: all .6s ease;
}

.button_login:hover, .button_login a:hover {
    color: #C59DD4;
    text-decoration: none;
}
